err.log

app.log

*.env
scratch.py
deploy.zip
*.sqlite

# add python ignore
__pycache__/*
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz

# development postgres
.postgres

pgdata/

.aws-profile

# celery
celery_tasks.db
dump.rdb

# redis
redis-server.log

.venv

.envrc

# Ignore generated reports
report.html
report.json

# Ignore result/output directories
result/
data/
# Uncomment to ignore VSCode settings (if user-specific)
# .vscode/

# Node and Python
node_modules/
logs/
*.log
.env
.env.*
*.pyc
__pycache__/
# OS
.DS_Store
Thumbs.db
# Editor
.vscode/
.idea/


RAP/
RAPtool/
pathway_analysis_tool/


tmp/data.db
toxindex.egg-info/


