Flask==3.0.0
python-dotenv==0.21.0
stripe==4.2.0
flask-login
Flask-WTF==1.2.1
sendgrid==6.10.0
gunicorn==21.2.0
psycopg2-binary

# WEBSERVER ===============================================================
email_validator

# UPLOAD SERVICE ==========================================================
boto3