events {}

http {
    # HTTP server to redirect all requests to HTTPS
    server {
        listen 80;
        server_name ${SERVER_NAME} report.${SERVER_NAME} search.${SERVER_NAME};
        return 301 https://$host$request_uri;
    }

    # HTTPS server
    server {
        listen 443 ssl;
        server_name ${SERVER_NAME};

        ssl_certificate /etc/nginx/ssl/your_domain.crt;
        ssl_certificate_key /etc/nginx/ssl/your_domain.key;

        location / {
            proxy_pass http://webserver:6513;
            # Include proxy settings
        }
    }

    # HTTPS server for 'report' subdomain
    server {
        listen 443 ssl;
        server_name report.${SERVER_NAME};

        ssl_certificate /etc/nginx/ssl/your_domain.crt;
        ssl_certificate_key /etc/nginx/ssl/your_domain.key;

        location / {
            proxy_pass http://report:6515;
            # Include proxy settings
        }
    }

    # HTTPS server for 'search' subdomain
    server {
        listen 443 ssl;
        server_name search.${SERVER_NAME};

        ssl_certificate /etc/nginx/ssl/your_domain.crt;
        ssl_certificate_key /etc/nginx/ssl/your_domain.key;

        location / {
            proxy_pass http://search:6515;
            # Include proxy settings
        }
    }
}
